<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <ul>
                    <div class="footerHeader">
                        <li><a href="#">Study Abroad</a></li>
                    </div>
                   <div class="footermenu">
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">Study abroad intakes</a></li>
                    <li><a href="#">Guide for dudines</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                   </div>
                </ul>
            </div>
            <div class="col-1">
                <ul>
                    <div class="footerHeader">
                        <li><a href="#">Useful Links</a></li>
                    </div>
                   <div class="footermenu">
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">Study abroad intakes</a></li>
                    <li><a href="#">Guide for dudines</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                   </div>
                </ul>
            </div>
            <div class="col-1">
                <ul>
                    <div class="footerHeader">
                        <li><a href="#">IELTS</a></li>
                    </div>
                   <div class="footermenu">
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">Study abroad intakes</a></li>
                    <li><a href="#">Guide for dudines</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                   </div>
                </ul>
            </div>
            <div class="col-1">
                <ul>
                    <div class="footerHeader">
                        <li><a href="#">Connect with IDP</a></li>
                    </div>
                   <div class="footermenu">
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">Study abroad intakes</a></li>
                    <li><a href="#">Guide for dudines</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                    <li><a href="#">How to choose your destinations</a></li>
                   </div>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
    </div>
  </div>