.form-control.ng-touched.ng-invalid {
    border:1px solid red;
   }
   
   .form-control.ng-touched.ng-valid {
    border:1px solid green;
   }
   .row{
       width: 50%;
       margin: 0 auto;
       border: 1px solid ;
       border-radius: 10px;
       padding-bottom: 50px;
   }

  label{
      width: 20%;
     display:inline-block; 
     margin-top: 20px;


  }

 .form-control{
    width: 55%;
     padding: 6px;
     border-bottom: 1px solid black;
 }

 button{
     padding: .5em 1em;
     border-radius: 6px;
     background-color: black;
     color: white;
     font-family: 'Lato',sans-serif;
     font-size: .8em;

 }
 button.btn.btn-primary{
     margin-left: 40%;
     margin-top: 20px;
 }