<div class="container-fluid">
    <div class="header_Container">
        <div class="row">
            <div class="col-1">
                <img src="../../assets/Image/Idplogo.svg">
            </div>
            <div class="col-2">
                <ul>
                    <li><a routerLink="home">Home</a></li>
                    <li><a routerLink="allblogs">All Blogs</a></li>
                    <li><a routerLink="addblog">Add Blog</a></li>

                    <li class="img"><a routerLink="profile">
                            <div class="profiles"><img src="../../../assets/Image/profile.png"></div>

                        </a></li>

                    <li><a routerLink="userDeatails">User</a></li>


                </ul>
            </div>

        </div>
    </div>
</div>