.container-fluid{
    background:  #ffe6f2;
}
.header_Container{
    width: 1100px;
    margin: 0 auto;
    
}
.row .col-1{
    width: 50%;
    display: inline-block;
}
.row .col-1 img{
    width: 50%;
}

.row .col-2{
    width: 50%;
    float: right;

}
ul{
    display: flex;
}


.row .col-2 li{
    list-style: none;
    padding: 23px;
}
.col-2 li a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.col-2 li:hover{
    background-color:#00e6e6;
    color: white;
    
}

.col-2 a:hover{
    color: black;
}