<div *ngIf="!profilecheck; else  detail">
    <app-userprofile></app-userprofile>
</div>
<ng-template #detail>
    <div class="row-value">
        <div class="value-container">
            <h3>Name:<span>{{userCheck.fName}} {{userCheck.lName}}</span></h3>
            <h3>Email:<span>{{userCheck.email}}</span></h3>
            <h3>Email:<span>{{userCheck.country}}</span></h3>
            <h3>Mobile:<span>{{userCheck.mobileNo}}</span></h3>
            <h3>Address:<span>{{userCheck.address}}</span></h3>
            <h3>About:<span>{{userCheck.textarea}}</span></h3>
            <button (click)="userUpdate()">Update</button>


        </div>
        <!-- <div>
            <button (click)="create()">Create</button>
        </div> -->

    </div>
</ng-template>