.container{
    width: 1100px;
    margin:0 auto;
}

.container .blogs {
    width: 60%;
    margin: 0 auto;
}

.container .blogs img{
    width: 100%;
}
.blogContent{
    margin-bottom: 30px;
}
.blogContent h3{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.blogContent span{
    margin-left: 10px;
    font-weight: lighter;
    font-size: 15px;
    font-family:T'imes New Roman', Times, serif;
}