.form-control.ng-touched.ng-invalid {
    border:1px solid red;

   }
   
   .form-control.ng-touched.ng-valid {
    border:1px solid green;
   }
.row{
    width: 50%;
    margin: 0 auto;
    border: 1px solid ;
    border-radius: 10px;
    padding-bottom: 50px;
}

label{
    width: 20%;
    display:inline-block; 
    margin-top: 20px;
}
.form-control{
    width: 55%;
    padding: 6px;
    border-bottom: 1px solid black;
}
.clr{
    clear: both;
}



